html {
  background-color: bisque;
}

a {
  text-decoration: none;
}

body {
  max-width: 450px;
  margin: 100px auto;
}

@media only screen and (max-width: 600px) {
  body {
    max-width: 90%;
    font-size: 90%;
  }
}

body {
  /* font-family: 'Open Sans', sans-serif; */

  font-family: garamond-premier-pro, sans-serif;
  font-weight: 300;
  font-style: normal;

  hyphens: auto;
  word-break: normal;
  font-size: 120%;
  text-align: justify;
}

nav {
  padding-top: 50px;
}

footer {
  font-size: 70%;
}

img {
  width: 100%;
}

.small-image {
  width: 70%;
}
